@use './_common' as *;

.achievement {
    height: 90%;
    width: 100%;

    .skills {
        @include flex-detail();
        height: 40%;
        width: 100%;
        margin-bottom: 10%;

        table {
            //量
            width: 50%;
            min-height: 25vh;
            //質
            background-color: $sakura-color;
            color: black;
            //関係
            border: 4px solid $lit-color;
            // border-collapse: collapse;
            border-spacing: 0px;
            border-radius: 10px;
        }

        tr,
        th,
        td {
            border: 1px solid $lit-color;

            .e_col1,
            .e_col2,
            .e_col3,
            .e_col4 {
                //　等間隔にする
                width: 20%;
                //　文字を中央にする
                text-align: center;
            }
        }

        .show {
            @include underline()
        }
    }

    .works {
        @include flex-detail();
        height: 40%;
        width: 100%;
        margin-bottom: 10%;

        h3 {
            @include flex-detail();
        }

        h4 {
            @include flex-detail();
        }

        p {
            margin: 20px;
        }

        .work {
            @include left-frame();
            width: 80%;
        }
    }
}