@import 'common';

.greeting {
    @include flex-detail();
    height: 90%;
    width: 100%;

    .logo {
        width: fit-content;
        height: 100%;

        img {
            width: fit-content;
            height: 75%;

            @media screen and (max-width: 1000px) {
                width: 100%;
                height: fit-content;
            }
        }

        &:nth-of-type(1) {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -25%);
        }

        &:nth-of-type(2) {
            opacity: 0%;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -25%);
            animation: logo 1.5s linear 1s 1 forwards;

            @keyframes logo {
                from {
                    opacity: 0%;
                }

                to {
                    opacity: 100%;
                }
            }
        }
    }

    .copies {
        @include flex-detail();
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .phrase {
        @include flex-detail();
        margin: 10px;
        background-color: $night-color;
        border: solid rgba(255, 255, 255, 1);
        border-radius: 10px;
        padding: 5%;
        width: 25%;
        height: fit-content;

        img {
            height: 60px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.8);
        }

        @media screen and (max-width: 1000px) {
            width: 80%;
        }
    }

    .sub-copy {
        //量
        border: 2px solid $lit-color;
        border-radius: 20px;
        //様態
        animation: hlight 1s linear 2s 1 forwards;

        @keyframes hlight {
            from {
                background-image: linear-gradient(90deg, $sakura-color, $sakura-color);
                /* 線の色 */
                background-repeat: no-repeat;
                background-position: left bottom;
                background-size: 0% 100%;
                color: white;
            }

            to {
                background-image: linear-gradient(90deg, $sakura-color, $sakura-color);
                /* 線の色 */
                background-repeat: no-repeat;
                background-position: left bottom;
                background-size: 100% 100%;
                color: black;
            }
        }

        h3 {
            margin: 2vh;
        }
    }
}