@use './_common' as *;

.links {
    @media screen and (max-width: 780px) {
        @include flex-detail(column, center, center)
    }

    ;

    @media screen and (min-width: 780px) {
        @include flex-detail(row, center, center);
    }

    ;
    width: 100%;
    height: 40%;
    margin-bottom: 10%;

    a {
        @include flex-detail(row, center, center);
        @include lit-anchor();
        color: white;
        flex-wrap: wrap;
        margin: 0px 20px;
        text-decoration: none;

        i {
            margin: 0px 10px;
        }

        img {
            @include lit-anchor();
            width: 40px;
            height: fit-content;
        }
    }

    .show {
        @include underline();
    }

    .gallery {
        @include flex-detail(row, center, center)
    }
}