@import "common";

//スタイリング
* {
    //質
    font-family: 'DotGothic16', sans-serif;
    //関係
    caret-color: transparent;
    scroll-behavior: smooth;
}

.c_empty {
    margin: 4vh 0vh;
}

.c_bicycle {
    @include lit-anchor();
    color: $default-color;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    top: 25px;
    right: 50px;
    z-index: 3;
}

.c_bicycle_inner {
    @include flex-detail();
    color: $default-color;
    font-size: 30px;
    z-index: 3;

    a {
        @include lit-anchor();
        color: $default-color;
    }
}

.body {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.header {
    @include flex-detail();
    //量
    width: 100%;
    height: 10vh;
    //質
    color: $default-color;
    background: linear-gradient(to bottom, black 60%, $dark-color);

    //様態
    //780px以下のとき、アニメーションを実行
    @media screen and (min-width: 780px) {
        .header_copy h2 {
            overflow: hidden;
            white-space: nowrap;
            animation: copy 0.5s linear 0.5s forwards;

            @keyframes copy {
                0% {
                    width: 0%;
                }

                100% {
                    width: 100%;
                }
            }
        }
    }
}

.nav {
    @include flex-detail();
    //量
    min-width: 50%;
    min-height: 95%;

    @media screen and (max-width: 780px) {
        width: 0%;
    }

    margin: 25px;
    //質
    background: rgba(0, 0, 0, 0.6);
    //関係
    border-radius: 50px;
    position: fixed;
    top: 0;
    bottom: 0;
    //様態
    transform: translateX(200%);
    transition: 0.3s all;
    transition-timing-function: ease-in-out;
    z-index: 2;
}

.nav.no-transition {
    transition: none;
}

.main {
    //質
    color: $default-color;
    background: $dark-color;
    //関係
    caret-color: transparent;

    //様態
    .main_section {
        @include flex-detail();
        padding-bottom: 80px;
        margin: 0px 20px;
        min-height: 90vh;

        .title {
            min-height: 10%;
        }
    }

    .tab-contents-shown {
        overflow-y: scroll;
    }

    .intro {
        @include flex-detail();
        margin: 5px;

        img {
            height: 60px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
}

.footer {
    //量
    @include flex-detail();
    width: 100%;
    height: 20vh;
    //質
    color: $default-color;
    background: linear-gradient(to top, black 60%, $dark-color);

    //様態
    a {
        @include lit-anchor();

        .footer_inner {
            @include lit-anchor();

            .footer_inner_left {
                @include flex-detail(row, center, center);
            }

            .footer_inner_right {
                @include flex-detail();
            }
        }
    }
}