//変数の指定
$default-color: rgba(255, 255, 255, 1); //暗い背景色のときの文字など
$dark-color: rgba(0, 0, 30, 0.9); //明るい背景色のときの文字など
$night-color: rgba(35, 59, 108, 0.8); //メインカラー
$star-color: rgba(255, 215, 104, 1); //サブカラー
$lit-color: rgba(167, 31, 65, 1); //アクセントカラー
$sakura-color: rgba(254, 238, 237, 1); //サブアクセントカラー
$height1: 90vh;

//関数の指定
@mixin flex-detail($direction: column, $align: center, $justify: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin lit-anchor() {
    text-decoration: none;

    &:visited {
        color: $default-color;
    }

    &:hover {
        color: $lit-color;
        border-radius: 50px;
        text-shadow: 0 0 50px $lit-color, 0 0 50px $lit-color;
    }
}

@mixin underline {
    background-image: linear-gradient(90deg, $star-color, $star-color);
    background-repeat: no-repeat;
    background-position: left bottom;
    animation: underline 0.6s linear 0s 1 forwards;

    @keyframes underline {
        from {
            background-size: 0% 2px;
        }

        to {
            background-size: 100% 2px;
        }
    }
}

@mixin right-frame {
    margin: 10px;
    padding: 10px;
    background-color: $sakura-color;
    border: solid $lit-color 4px;
    border-radius: 8px;
}

@mixin left-frame {
    margin: 10px;
    padding: 10px;
    background-color: $night-color;
    border: solid rgba(255, 255, 255, 1) 4px;
    border-radius: 8px;
}