@import 'common';

.last {
    @include flex-detail();
    width: 100%;
    height: 40%;

    .last-copy {
        @include flex-detail();
        width: fit-content;
        height: fit-content;
        border: 2px solid $lit-color;
        border-radius: 20px;

        h3 {
            margin: 2vh;
        }
    }

    .show {
        animation: last-hlight 1s linear 0s 1 forwards;

        @keyframes last-hlight {
            from {
                background-image: linear-gradient(90deg, $sakura-color, $sakura-color);
                /* 線の色 */
                background-repeat: no-repeat;
                background-position: left bottom;
                background-size: 0% 100%;
                color: white;
            }

            to {
                background-image: linear-gradient(90deg, $sakura-color, $sakura-color);
                /* 線の色 */
                background-repeat: no-repeat;
                background-position: left bottom;
                background-size: 100% 100%;
                color: black;
            }
        }
    }
}