---
// index.astroページコンポーネント
// 画像のインポート
import faviconImg from '../assets/images/HARUH-favicon.png';
import logo9Img from '../assets/images/HARUH-logo9.png';
import logo5Img from '../assets/images/HARUH-logo5.png';
import arrow1Img from '../assets/images/HARUH-arrow1.png';
import noteLogoImg from '../assets/images/note_logo.png';
---


<h2 id="link" class="title">リンク</h2>
    <p>最新の活動はSNSで！</p>
    <div class="links contents">
    <a class="hoge" href="https://github.com/HH19xx" target="_blank" rel="noopenner norefferrer">
        <i class="fab fa-github"></i>
        <p>github</p>
    </a>
    <a class="hoge" href="https://note.com/haruh19xx" target="_blank" rel="noopenner norefferrer">
        <img src={noteLogoImg.src} alt="note">
        <p>note</p>
    </a>
    </div>
    <div class="last">
    <div class="last-copy">
        <h3>私の挑戦に、力を。</h3>
    </div>
</div>