//変数の指定
$default-color: rgba(255, 255, 255, 1);
$sky-color: rgba(0, 0, 110, 0.8);
$night-color: rgba(0, 4, 41, 0.9);
$lit-color: rgba(255,0,0,1);

//関数の指定
@mixin flex-detail($direction: column, $align: center, $justify: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
@mixin lit-anchor() {
    text-decoration: none;
    &:visited {
        color: $default-color;
    }
    &:hover {
        color: $lit-color;
        border-radius: 50px;
        text-shadow: 0 0 50px $lit-color, 0 0 50px $lit-color;
    }
}

//スタイリング
* {
    font-family: 'DotGothic16', sans-serif;
    z-index: 1;
    .c_empty {
        margin: 4vh 0vh;
    }
    .c_hamburger {
        @include lit-anchor();
        color: $default-color;
        cursor: pointer;
        font-size: 50px;
        position: fixed;
        top: 25px;
        right: 50px;
        z-index: 3;
    }
    .c_hamburger__menu {
        @include flex-detail();
        background: rgba(0, 0, 0, 0.6);
        border-radius: 50px;
        color: $default-color;
        font-size: 30px;
        margin: 25px;
        min-width: 50%;
        min-height: 95%;
        z-index: 3;
        a {
            @include lit-anchor();
            color: $default-color;
        }
    }
}

.l_header {
    //include
    @include flex-detail();
    //大きさ
    width: 100%;
    height: 10vh;
    //色
    color: $default-color;
    background: linear-gradient(to bottom, $sky-color 60%, $night-color);
    .l_header__inner {
        font-size: 30px;
        a {@include lit-anchor();}
    }
    // .e_bicycle {
    //     display: block;
    // }
    // .e_biking {
    //     display: none;
    // }
}

.l_nav {
    @include flex-detail(column, flex-end, center);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: 0.4s all;
    z-index: 2;
}

.l_main {
    color: $default-color;
    background: $night-color;
    .l_main__section {
        @include flex-detail();
        height: 50vh;
        table {
            width: 50%;
            height: 50%;
            border: 1px solid $default-color;
            border-radius: 5px;
        }
        tr, th, td {
            border: 1px solid $default-color;
            border-radius: 5px;
            .e_col1 {width: 25%;}
            .e_col2 {width: 25%;}
            .e_col3 {width: 25%;}
            .e_col4 {width: 25%;}
        }
        .e_gallery{
            @include flex-detail(row, center, center);
            a {
                @include flex-detail(row, center, center);
                @include lit-anchor();
                margin: 0px 20px;
                i {
                    margin: 0px 10px;
                }
            }
        }
    }
}

.l_footer {
    @include flex-detail();
    width: 100%;
    height: 10vh;
    color: $default-color;
    background: linear-gradient(to top, black 60%, $night-color);
    a {
        @include lit-anchor();
        .l_footer__inner {
            @include lit-anchor();
            .l_footer__inner--left {
                @include flex-detail(row, center, center);
            }
            .l_footer__inner--right {
                @include flex-detail();
            }
        }
    }
}